/* Esse estilo é para os formulários de criação e edição 
das disciplinas, reservas, professores, gestores e salas */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130vh;
    margin: 30px auto;
}

.loginForm{
    width: 100%;
    max-width: 560px;
    background-color: #001931;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: auto;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    color: #EEEEEE;
    margin-bottom: 10px;
}

.nomeCampo{
    padding: 10px 0 5px 0;
    font-size: 16px;
    color: #EEEEEE;
    margin: 5px;
}

.inputField{
    padding: 10px;
    font-size: 16px;
    color: #000000;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 5px;
}

.inputField::placeholder{
    color: #b0b8c0;
}

.submitButton{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2F5070;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    margin-top: 30px;
    border-radius: 8px;
    color: #EEEEEE;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.submitButton:hover{
    background-color: #1282A2;
}

.error{
    color: #B80C1C;
    font-size: 13px;
    margin-top: 5px;
}