.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    height: 103px;
    gap: 20px;
}

.titulo{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    color: #e04fe0;
}

.descricao{
    color: #ffffff;
}